
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>
        Fresh Burgers!
      </h2>
    </div>
    <div class="col-6">
      <h2>
        Devoured Burgers!
      </h2>
    </div>
  </div>
  <div class="row">
    {{!--Fresh Burgers Appear Here--}}
    <div class="col-6">
      <ul class="list-group">
        {{#each burgers}} {{#unless devoured}}
        <li class="list-group-item">
          <div class="row">
            <div class="col-8">
            <p class="text-secondary">
              <b>Burger ID:</b>
              <span class="text-primary">{{this.id}}</span>
              <br>
              <b>Burger Name:</b>
              <span class="text-primary">{{this.burger_name}} burger</span> 
            </p>
            <br>
              <button data-id={{this.id}} class="eatBtn btn btn-danger">Devour Burger</button>
            </div>
          </div>
        </li>
        {{/unless}} {{/each}}
      </ul>
    </div>
    {{!--Devoured Burgers Apper Here--}}
    <div class="col-6">
      <ul class="list-group">
        {{#each burgers}} {{#if devoured}}
        <li class="list-group-item">
          <div class="row">
            <div class="col-8">
            <p class="text-secondary">
              <b>Burger ID:</b>
              <span class="text-primary">{{this.id}}</span>
              <br>
              <b>Burger Name:</b>
              <span class="text-primary">{{this.burger_name}} burger</span> 
            </p>
            <br>
              <button data-id={{this.id}} class="delBtn btn btn-danger">Delete Burger</button>
            </div>
          </div>
        </li>
        {{/if}} {{/each}}
      </ul>
    </div>
  </div>
</div>

<form id="addBurger">
  <div class="form-group">
    <label for="burgerInput"><h3>Choose Your Burger Toppings!</h3></label>
     <br>
    <input type="text" id="burgerInput" placeholder="Get Creative!">
  </div>
  <button type="submit" class="btn btn-danger">Send Burger Order</button>
</form>

